.App {
  font-family: sans-serif;
  text-align: center;
}

body {
  font-size: 2rem;
}

li {
  list-style: none;
}

.code {
  font-family:'Courier New', Courier, monospace;
  overflow-wrap: break-word;
}

@media (max-width: 50em) {
  .code {
    font-size: small;
    text-align: left; 
  }
}

