.App {
  font-family: sans-serif;
  text-align: center;
}

body {
  font-size: 2rem;
}

li {
  list-style: none;
}

.code {
  font-size: small;
  text-align: left;
  font-family:'Courier New', Courier, monospace;
  overflow-wrap: break-word;
}
